{% extends 'base.html' %}
{% load static %}

{% block title %}YfS | Contact Us{% endblock title %}


{% block meta_tags %}
<meta property="og:title" content="Contact us at Youth for Sustainability">
<meta property="og:url" content="https://youthforsustainability.in/">
<meta property="og:image" content="{% static 'img/YFS_logo_sqr_or.png' %}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="675">
<meta property="og:locale" content="en">

<meta name="twitter:title" content="Contact Us at Youth for Sustainability India">
<meta name="twitter:description" content="Contact us form">
<meta name="twitter:site" content="@yfs_india">
<meta name="twitter:domain" content="youthforsustainability.in">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{% static 'img/main-logo.png' %}">
<meta name="twitter:image:alt" content="Youth for Sustainability India">
{% endblock meta_tags %}


{% block links %}
<link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock links %}

{% block content %}
<div class="contact-us container vh-100 p-3 d-flex justify-content-center">
    <div class="card rounded shadow col-md-6 m-auto p-1"  data-aos="flip-up">
        <div class="card-header text-center">
            <h1 class="display-6 text-success">
                Find more ways to help!
            </h1>
        </div>
        <div class="card-body text-center">
            Youth for Sustainability is a movement to engage with the youth for United Nations Sustainable Development Goals. We commit to act before we react.
            <br />
            There are many ways to join us and support our mission. Contact us to find out more about volunteer opportunities, fundraising events, and ways that you can get our message to your friends and family. You can host us for a summit at your place where we equip you with the necessary toolkit for Sustainable Development.
        </div>
        <div class="card-footer text-center">
            <p class="text-success">
                <a class="btn btn-sm btn-success" href="https://chat.whatsapp.com/JzMCD4Z7R2q9xBIhcB40M0">
                    <i class="fab fa-whatsapp"></i>
                    Contact us via Whatsapp
                </a>
                <a class="btn btn-sm btn-success mx-2" href="mailto:punyasloka@humancircle.in">
                    <i class="fas fa-envelope mr-2"></i>
                    Contact us via Email
                </a>
            </p>
            <p class="text-secondary">Phone: 8917630076</p>
        </div>
    </div>
</div>
{% endblock content %}