{% extends 'base.html' %} {% load static %}
{% block links %}
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{% static 'css/home/home.css' %}" />
<link
  rel="stylesheet"
  media="screen and (max-width: 900px)"
  href="{% static 'css/home/responsive-home.css' %}"
/>

{% endblock links %}
<!-- this is start of landing page -->
{% block content %}

{% endblock content %}

