{% extends 'base.html' %} {% load static %}
{% block links %}
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
  rel="stylesheet"
/>

{% endblock links %}
<!-- this is start of landing page -->
{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" style="background: url('{% static 'images/home/bg1.png' %}') top center">
    <div class="hero-container" data-aos="fade-up">
      <h1>BE THE CHANGE YOU
        WANT TO SEE</h1>
      <h2>#ActionbeforeReaction</h2>
      <a href="#why-us" class="btn-get-started">what we do</a>
    </div>
  </section>
  <!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-md-6 video-box d-flex justify-content-center align-items-stretch">
            <img class="shadow-lg" src="{% static 'images/natureppl.jpg' %}" style = "max-width: 100%; border-radius: 50px;" alt="nature people">
          </div>

          <div class="col-md-6 d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <div class="box-heading" data-aos="fade-up">
              <h4>About us</h4>
              <h3>We help nature smile and survive everywhere</h3>
              <p>Through our diverse range of project initiatives, we drive impactful change through hands-on efforts. Our unwavering commitment to making a difference is demonstrated through our on-ground endeavors. We meticulously design and execute projects that span a wide spectrum of areas and address various critical issues. Each initiative we undertake aligns seamlessly with our guiding motto, ensuring that our actions resonate with our core values. From community engagement to environmental stewardship, our work leaves a lasting imprint. With a dedication to meaningful impact, we continuously strive to fulfill our mission, translating intentions into tangible results that uplift lives and create a better world.</p>
            </div>



          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="section-title" data-aos="zoom-in">
          <h3>Our <span>mission</span>?</h3>
          <p>We care for earth, care for the coming birth</p>
        </div>
        <div data-aos="fade-up">
          <p class="text-center">In theory, environment and nature may not be the first priority when economic development and profit-making companies seek so much attention. So, our mission is to integrate with businesses, corporates, and educational institutions to work for Sustainable Development. We aim to have 500 single-use plastic-free campuses by 2025 and integrate 100 businesses in order to instigate a cultural and habitual change in every individual to implement and practice methods of Sustainable Living.</p>
        </div>

        <div class="row">

          <div class="col-lg-3" data-aos="fade-up">
            <div class="box text-center">
              <span><i class="fa-solid fa-city"></i></span>
              <h4>Build Healthy Cities</h4>
              <p>We aim to promote and imply the motto to reduce the usage and reuse resources. We not only look forward to create sustainable individuals but incorporate the same into the ways of our society and make sustainability a functioning reality in our day to day lives.</p><br>
            </div>
          </div>

          <div class="col-lg-3 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="box  text-center">
              <span><i class="fa-solid fa-tree"></i></span>
              <h4>Tree Plantation</h4><br>
              <p>It is no secret that a huge number of trees are being cut down everyday. And the rate of replenishment is not equal to the rate of felling. Hence, by periodically planting trees, we contribute in reducing this imbalance and make nature greener.</p><br><br>
            </div>
          </div>

          <div class="col-lg-3 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box text-center">
              <span><i class="fa-solid fa-droplet"></i></span>
              <h4>Protect Land and Water</h4>
              <p>These two natural resources which cover majority of Earth's area have been and are being depleted and polluted constantly. By organising cleaning drives, awareness campaigns and fundraising events, we redirect our efforts and capital into reviving and healing land and water.</p>
            </div>
          </div>
          
          <div class="col-lg-3 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box text-center">
              <span><i class="fa-solid fa-paw"></i></span>
              <h4>Animal Safety</h4> <br>
              <p>Over time, we seem to have forgotten that we share this Earth with other living beings who are in need of our steady attention. Collaborating with initiatives which work for animal welfare and safety, we contribute to the well being of our fellow members that we share this planet with.</p><br>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="157" data-purecounter-duration="1" class="purecounter"></span>
            <p>TREES PLANTED</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
            <p>BEACHES CLEANED</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1" class="purecounter"></span>
            <p>PROJECTS DONE</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="250" data-purecounter-duration="1" class="purecounter"></span>
            <p>TONNES OF PLASTIC RECYCLED</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta" style="background: url('{% static 'images/footer-bg.jpg' %}') top center">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>How You Can Help?</h3>
          <p> Everyone has the opportunity to contribute in their own ways. Why not start by donating to keep the cause alive?</p>
          <a class="cta-btn" href="#">DONATE NOW</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="zoom-in">
          <h2>WHAT WE DO</h2>
          <h3>We are creating sustainable society, for <span>everyone</span> and <span>forever</span>.</h3>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" >
            <div class="icon-box" data-aos="zoom-in" style=" background: url('{% static 'images/beach_drive.jpg' %}');">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="https://www.instagram.com/p/CWC_rWoPWDh/" target="_blank"><span class="text-white">Beach Cleaning Drives</span></a></h4>
              <p style="color: white;">We have a vision to make all major beaches of odisha plastic free. We understand that its a herculean task. But that is not going to stop us from taking the matter into our own hands, literally.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" >
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100"  style="background: url('{% static 'images/field_work.jpg' %}')">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="https://www.instagram.com/p/CV2V4Wfr610/"><span class="text-white">Connecting indigenous tribes</span></a></h4>
              <p style="color: white;">YfS actively participates in and conducts major dialogues with several indigenous tribes throughout odisha. We have a aim to connect their sustainable lives with the modern era.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" >
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200"  style="background: url('{% static 'images/palm_oil.jpg' %}')">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="https://www.instagram.com/p/CWkCcSAKyCx/"><span class="text-white">Global Youth Summits</span></a></h4>
              <p style="color: white;">With our huge volunteer base, we make sure to educate and create awareness about pressing environmental issues by conductiong international seminars and youth summits.</p>
            </div>
          </div>
      </div>
    </section><!-- End Services Section -->


    <section id="dono-info" style="height: 700px;" data-aos="fade-up">
      <div class="dono-info-body">
        <div class="dono-info-text">
         <h1>How we spend your donations and where it goes !</h1>
         <p class="dono-subtext">
          We understand that when you make a donation, you want to know exactly where your money is going and we pledge to be transparent.
         </p>
         <div class="dono-details">
           <div class="dono-detail">
              <p>
               <span style="background: #bef3c0;"></span>
               40% planting trees
              </p>
           </div>
           <div class="dono-detail">
              <p>
               <span style="background: #ac94f1"></span>
               35% Cleaning Drives
              </p>
           </div>
           <div class="dono-detail">
              <p>
               <span style="background: #fff0ca"></span>
               10% Awareness campaigns
              </p>
           </div>
           <div class="dono-detail">
              <p>
               <span style="background: #f9cf64"></span>
               10% Animal welfare
              </p>
           </div>
           <div class="dono-detail">
              <p>
               <span style="background: #f38fbf"></span>
               5% Donation drives
              </p>
           </div>
         </div>
        </div>
        <img src="{% static 'images/home/Chart.png' %}" alt="donation division  chart" class="dono-info-chart" data-aos="zoom-in">
      </div>
    </section>

    <!-- ======= Data Section ======= -->
    <div class="text-light m-5 p-5 join-us image-fluid" style="border-radius: 30px; background: url('{% static 'images/home/join-us-bg.png' %}'); background-size: cover; box-shadow: 10px 10px 20px grey; display: flex; flex-direction: column; justify-content: center; position: relative;" data-aos="zoom-in">
      <h2 class="mt-3" style="text-align: center;">Never doubt that a small group of thoughtful, committed citizens can change the world; indeed, it is the only thing that ever has.</h2>
      <center class="my-4"><a class="joinbtn" href="">JOIN US</a></center>
    </div>
    
    
    <!-- End Data Section -->
{% endblock content %}

