
__pycache__/
*.pyc
*.pyo
__init__.py
db.sqlite3
.DS_Store

# Configuration files
settings/local.py  

# Secret keys
client_secret_
# Virtual environment
venv/


client_secret_734371828286-aemnh9n7o9ti7uotf1g8i3s79m5gcb6l.apps.googleusercontent.com.json