{% extends 'base.html' %}
{% load static %}

{% block content %}


<section id="chapterjoin">
<div class="container">
    <div class="about-us-title mb-5 mt-5"  data-aos="flip-up">
        <span><i class="fa-brands fa-2xl fa-pagelines" style="color: #008000;"></i></span>
        <h3 class="title" >CREATE/JOIN CHAPTER</h3>
    </div>
    <div class="row">
    <div class="col-md-6">
        <div class="card mb-3 shadow" data-aos="fade-right">
            <img src="{% static 'svg/co_working.svg' %}" alt="" class="card-img-top" style="max-height: 200px;">
            <div class="card-header bg-success text-center ">
                <h2 class="text-white my-auto">New Chapter form</h2>
            </div>
            <div class="card-body">
                <p class="card-text">
                    This form is for people wanting to start a new chapter in their college or school. Please check that your Institution has a chapter or not before proceeding.
                </p>
                <div class="d-flex justify-content-center">
                    <a href="{% url 'new-chapter' %}" class="w-btn w-100 mt-4">Go to new chapter form</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="card mb-3 shadow" data-aos="fade-left">
            <img src="{% static 'svg/interaction_design.svg' %}" alt="" class="card-img-top" style="max-height: 200px;">
            <div class="card-header bg-success text-center ">
                <h2 class="text-white  my-auto">Join Your school/college chapter</h2>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Do you want to join your Instituion's YfS chapter? Be a part of an active community of friends from your own school/college and fight for sustainability together.
                </p>
                <div class="d-flex justify-content-center">
                    <a href="#" class="w-btn w-100 mt-4">Go to join chapter form</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
    </section>

<section id="all_chapters">
    <div class="container">
        <div class="about-us-title mb-5"  data-aos="flip-up">
            <span><i class="fa-brands fa-2xl fa-pagelines" style="color: #008000;"></i></span>
            <h3 class="title" >CHAPTERS</h3>
        </div>
        <div>
            {% for chapter in allchapters %}
            <div class="card" >
                <div class="card-header">
                    <h5 class="card-title my-auto">{{ chapter.institution_name }}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Chapter Lead Details:</p>
                    <p>
                        Name -- {{ chapter.chapter_lead.first_name }}  {{ chapter.chapter_lead.last_name }}<br>
                        Email --  {{ chapter.chapter_lead.email }}
                    </p>
                    <p class="card-text">Established On: {{ chapter.established_on }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}
