{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <title>Blog Page</title>
  <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>

<style>

</style>

<body>
  <div class="header">
    <h2>{{blog.title}}</h2>
  </div>
  <div class="leftcolumn">
    <div class="card">
      <h2 class="hell">{{blog.author}}</h2>
      <h5 class="hell">{{blog.blog_views}}views | {{blog.uploaded_at}}</h5>
      <div class="fakeimg" style="height:300px; width:1000px; background-image: url({{blog.blog_image.url}});"></div>

      <p>{{blog.body|safe}}</p>
    </div>


    <hr style="width:1000px;">
    <div class="icon">
      {% if liked %}
      <a class="aa" href="/blogs/hitlike/{{blog.id}}"><i style="font-size:20px; color:rgb(150, 10, 10);" class="fa fa-heart"></i>{{blog.no_of_likes}} likes</a>
      {% else %}
      <a class="aa" href="/blogs/hitlike/{{blog.id}}"><i style="font-size:20px; color:grey;" class="fa fa-heart"></i>{{blog.no_of_likes}} likes</a>
      {% endif %}
      <i style="font-size:20px" class="fa fa-comment"><a class="aa" href="">{{blog.no_of_comments}} Comments</a></i>
    </div>
    <hr style="width:1000px;">
  </div>
  <div class="container">
    <form action="/blogs/postcomments/{{blog.id}}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <div class='ah'><textarea class="form-control status-box" rows="3"
            placeholder="Enter your comment here..." name="comment"></textarea></div>
        <div class='ahh'><button class="button  button2" type="submit">Submit</button></div>
      </div>
    </form>

  </div>
  <div class="box-container">
    {% for comment in comments reversed %}
    <div class="box">
      <div class="box-header">
        <img src="https://freecodecamp.s3.amazonaws.com/quincy-twitter-photo.jpg" alt="Quincy Larson's profile picture"
          class="profile-thumbnail">
        <div class="profile-name">
          <h3>{{comment.reader.username}} | {{comment.commented_at}}</h3>
        </div>
    
      </div>
      <div id="inner">
        <p>{{comment.body}}</p>
    
      </div>
    </div>
    {% endfor %}
    
  </div>
</body>

</html>