{% extends 'base.html' %}
{% load static %}
{% block pname %}{{pname}}{% endblock pname %}
{% block content %}
<div class="container p-5" style="max-width:40%">
    <div class="border border-1 rounded-2 text-center mt-5 p-3 shadow-lg">
        <h1 class="text-dark">Login</h1>
        <hr>
        <form action="">
            <input type="email" placeholder="email" class="mb-3 form-control">
            <input type="password" placeholder="password" class="mb-3 form-control">
            <input type="submit" value="login" class="w-btn w-100">
        </form>
        <p class="text-center">Don't have an account ? Create one <a class="text-success" href="{% url 'signup' %}">here</a></p>
    </div>
</div>
{% endblock content %}