{% extends 'base.html' %}
{% load static %}
{% block head %}
<style>
    section{
        
            background-image: url('{% static 'images/bg/bg2.jpg' %}');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            min-height: 100vh; /* Set a minimum height to cover the entire viewport */
            align-items: center;
        
    }
</style>
{% endblock head %}
{% block pname %}{{pname}}{% endblock pname %}
{% block content %}
<section>
    {% load socialaccount %}
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="card shadow-lg" style="margin-top:100px;" data-aos="zoom-in">
                <div class="card-header bg-success text-white text-center">
                    <h3 class="my-auto fw-bolder">Log In</h3>
                </div>
                <div class="card-body">
                    {% comment %} {% for message in messages %}
                        <p class={{message.tags}}>{{message}}</p>
                    {% endfor %} {% endcomment %}
                    <form action="{% url 'signin' %}" method="POST">
                        {% csrf_token %}

                        <div class="mb-1">
                            <label for="">Username</label>
                            <input type="text" name = "username" class="form-control" required>
                        </div>

                        <div class="mb-1">
                            <label for="">Password</label>
                            <input type="password" name = "password" class="form-control" required>
                        </div>

                        <div class="mb-1">
                            <input type="submit" value ="Sign-in" class="w-btn w-100">
                        </div>
                        <h4 class="text-center">Or</h4>
                        <div class="mb-1 d-flex justify-content-center"> 
                            <a class="w-btn" href="{% provider_login_url "google" %}?next=/"><span><i class="fa-brands fa-google fa-2xl" style="color: #000000;"></i></span> Sign In with Google</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}