{% extends 'base.html' %} {% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/events/events.css' %}">
{% endblock links %}

{% block content %}
<div class="p-5 bg-light rounded-3 hero-section">
    <div class="container-fluid pb-5">
        <h3 style="margin: 40px 0px;" class="text-danger fs-4"><span style="display: inline-block; width: 40px; height: 3px; background-color: #DC4C64; vertical-align: middle;"></span> OUR EVENTS</h3>
        <h1 class="display-5 fw-bold mb-2">We conduct events all across Odisha !</h1>        
        <p class="col-md-8 fs-4 mb-4" style="line-height: 2.25rem">
          There are several events that happen all year long. See for yourself and join us in the upcoming events. Make sure you register yourself if you don't want to miss out on updates.
        </p>
      <a class="btn btn-success btn-lg landing-btn my-2" href="#" type="button">Explore</a>
    </div>
</div>

<section class="m-5 container">
    <h3 style="margin: 40px 0px;" class="text-danger fs-4"><span style="display: inline-block; width: 40px; height: 3px; background-color: #DC4C64; vertical-align: middle;"></span> LIVE EVENTS</h3>
    <h1 class="display-6 fw-bold mb-2">Explore the events</h1>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">

          <div class="carousel-item active">
            <div class="d-flex justify-content-center align-items-center">
                <div class="card text-center shadow-lg" style="width: 18rem;">
                    <img src="{% static 'images/main-logo.png' %}" class="card-img-top" alt="event image">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <h5 class="card-title">TEMPLATE CARD</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-success mt-3">Register here</a>
                    </div>
                </div>
                
            </div>
            
          </div>
          <div class="carousel-item active">
            <div class="d-flex justify-content-center align-items-center">
                <div class="card text-center shadow-lg" style="width: 18rem;">
                    <img src="{% static 'images/main-logo.png' %}" class="card-img-top" alt="event image">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <h5 class="card-title">TEMPLATE CARD</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-success mt-3">Register here</a>
                    </div>
                </div>
                
            </div>
            
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>

{% endblock content %}